<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Shopping store</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    @*navbar*@
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Online Shopping Store</a>
    </div>

    <div class="row">
        <div id="categories" class="col-lg-3">
            Categories
        </div>
        <div class="col-lg-7">
            @RenderBody()
        </div>
    </div>    
</body>
</html>
